
#root {
  font-family: "Montserrat", sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item{
  text-align:left;
}
.todo-container{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 1000px; !important
}
.a-row{
  margin:10px;
}
button{
  width:80px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
